# General purpose ignores
# See backend/.gitignore and frontend/.gitignore for language-specific ignores

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Misc
*.swp
*~
.swo
